<% breadcrumb :static_pages_top %>
<h1>home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, ratione necessitatibus placeat, commodi omnis alias vitae, voluptate labore quia iure molestiae eius corporis aliquid aspernatur eligendi excepturi soluta facere repellat!</p>